@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "sequel";
  src: local("./fonts/SequelSansVFBody.woff") format(woff);
}

body {
  font-family: sequel, sans-serif;
}
